$backgroundcolor: #181818;
$color: #F2F2F2;
$second-color: #743efa;
$three-color: #5CB8E4;


.vh-70 {
  height: 80vh;
}



.th {
  
  height: 100vh;
  padding: 0 !important;

  #carouselExampleControls2 {
    display: none;
  }

  .center {
    top: 35vh;
    padding: 10px 0;
    width: fit-content;
    color: $three-color;
  }

  .up {
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  }

  .carousel-item {
    height: 100%;
    img {
      height: 100%;
    }
  }

  .carousel {
    height: 100%;
  }
  .top-app {
    height: 100%;
    justify-content: center;
    top: 0;
  }
  .down {
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  
    span {
      background-color: white;
      padding: .5rem .3rem;
      height: 40px;
      border-radius: 7.5px;
      i {
        color: $backgroundcolor;
        text-shadow: none;
      }
      input {
        padding: 0 5px;
        width: 90%;
        height: 40px;
        background: transparent;
      }
    }
  }
}

.carousel-inner {
  height: 100%;
}

@media (max-width: 941px) {
  .section-2 {
    input {
      width: 200px !important;
    }
  }
  
}

@media (max-width: 767px) {
  #root {
    header {
      
      justify-content: space-between !important;

      .section-1 {
        display: block !important;
      } 
      .section-3 {
        display: block !important;
      } 
    }
  }
  .section-2 {
    span:first-child {
      display: none;
    }
    span:last-child {
      display: inline;
    }
  }

  .th {
    height: 100vh !important;
    > :first-child {
      display: none !important;
    }
    #carouselExampleControls2 {
      display: block;
    }
  }
  
  .category {
    font-size: 13px;
    padding: 5px !important;
  }

  .section-1 a {
    font-size: 20px !important;
    span {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .top-app {
    width: 55% !important; 
    .up {
      h1 {
        font-size: 22px;
        text-wrap: nowrap;
      }
      h5 {
        font-size: 18px;
      }
    }
    .down {
      span {
        width: 100% !important;
        height: 40px;
        padding: 0px 4px;
        display: block;
      }
    }
  }
}

@media (max-width: 836px) {
  .in-image-m .other {
    top: 0 !important;
}
  .in-image-m .heart i {
  bottom: 0 !important;
}
}

@media (max-width: 510px) {
  .title-playing {
    h4 {
      font-size: 16px;
    }
  }

  .platying {
    .movies {
      margin-top: 5px !important;
    }
  }
}

