$backgroundcolor: #181818;
$color: #F2F2F2;
$second-color: #743efa;
$three-color: #5CB8E4;

.left-mid img {
  margin: 10%;
  margin-right: 0;
}

.img-top {
  position: absolute;
  top: 0;
}

.left {
  left: 10px;
}

.main-mid {
  padding-top: 26% !important;
}

.detail-movie {
  background: linear-gradient(0deg, rgba(24,24,24,1) 89%, rgba(24, 24, 24, 0) 100%);
  margin-left: 0 !important;
  margin-right: 5px;
  padding-top: 100px;
  .right-mid {
    margin-top: 4%;
    h4 {
      color: $second-color;
      a {
        color: $second-color;
        text-decoration: none;
        transition: text-decoration .3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h1 {
      font-size: 45px;
    }
    .fa-star {
      font-size: 23px;
      color: rgb(255, 149, 0);
    }
  }
}

p {
  margin: 0 !important;
}

@media (max-width: 992px) {
  .main-mid {
    padding-top: 70px !important;

  }

  .detail-movie {
    padding-top: 0;
  }

  .img-top {
    position: static;
  }
}